APP_VERSION=0.1
APP_MODE=DEVELOPMENT                    # DEVELOPMENT | PRODUCTION
DEFAULT_MODULE=example                  # Default module, used for router
BASE_URI=/phalcon-boilerplate           # Set this if your phalcon project under subdirectory, default = /

#####
# Database
##
DB_ADAPTER=Sqlsrv
DB_HOST=host.docker.internal
DB_PORT=1433
DB_NAME=dbname
DB_USERNAME=username
DB_PASSWORD=password
DB_CHARSET=utf8
